.DS_Store

# Log Files
/debug.log

# Xcode
xcuserdata/

# Private Files
Private.tar.gz
/Private/
/AibaShop/**/Config.swift

## App packaging
.local_derived_data/
*.ipa
*.dSYM.zip
*.dSYM
*.mobileprovision
build
.build/

## Fastlane
fastlane/README.md
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
